@import url(./style.css);




@media (max-width: 1200px) {

    .texto-do-lado  {
        text-align: center;
    }

    .container-section-1 {
        display: flex;
        padding: 50px;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
    }


    .imagem-do-lado {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .container-footer {
        color: white;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;

    }

    .container-section-5 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        
    }

    form {

        width: 100%;
    }


    input {
        width: 100%;
        padding: 30px;
        color: white;
        background: transparent;
        border: none;
        border-bottom: 1px solid gray;
    
    }

    .buttonn button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 3px;
        padding: 15px 40px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        
    }

    .redes-sociais {
        justify-content: center;
        display: flex;
        text-align: center;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
     }
    


}


@media (max-width: 780px) {
    .imagem-do-lado img {
        width: 450px;
    }

}

@media (max-width: 501px) {
    .imagem-do-lado img {
        width: 350px;
    }
}

@media (max-width: 850px) {
 .flex-letras {
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
 }

 .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
 }
}




@media (max-width: 550px)  {


.texto-acima h1{

     font-size: 30px;
     
}

.about h1 {
    font-size: 50px;
}


.titulo-acima h1{
    font-size: 25px;
}

.texto-video h1{
    font-size: 30px;

}

.contactus {
    text-align: center;
}

.contactus h1{
    font-size: 40px;

}

.prime-car h1{
    font-size: 50px;

}

}


@media (max-width: 410px) {
    .imagem-do-lado img {
        width: 300px;
    }
} 


@media (max-width: 1180px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }


    .escrita {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 5px;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        max-width: 490px;
        color: white;
    
    
    }

    .escrita h1 {
        font-size: 30px;
    }

}


@media (max-width: 400px)  {
    .escrita {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 100px;
        
        height: 100vh;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        max-width: 490px;
        color: white;
    
    
    }

    .escrita h1 {
        font-size: 25px;
    }
}


/* MENU HAMBURGUER */


@media (min-width: 750px) {
    #btnmobile {
        display: none;
    }
}





@media (max-width: 750px) {
    #btnmobile {
        display: block;
        padding: .5rem 1rem;
        font-size: 3rem;
        border: none;
        background: none;
        color: black !important; 
    
    }

    header {
        width: 100%;
        margin-top: 10px;
        position: absolute;
        z-index: 99999999;
    }

    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 111px;
        right: 0px;
        display: block;
        z-index: 1000;
        height: 0;
        transition: 0.6s;
        overflow-y: hidden;
        visibility: hidden;
        background-color: transparent ;
        opacity: 0.9;
        background: rgba(255, 255, 255, 0.27);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.3px);
        -webkit-backdrop-filter: blur(4.3px);
        border: 1px solid rgba(255, 255, 255, 0.46);
             
    }

    #menu li {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        border-bottom: 3px solid black;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .boton-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .boton-contact button {
        font-size: 15px;
        font-weight: 700;
        font-family: 'Montserrat';
        color: black;
        border: 2px solid black;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
        padding: 20px ; 
    
    }


    #nav.active #menu {
        visibility: visible;
        height: calc(60vh - 70px);
        display: block;
        overflow-y: auto;
    }

    #menu a {
        font-size: 25px;
        color: black;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom:2px ;
    }

    }
